/* ##______ General Styles _______## */
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}
.hidden {
  display: none !important;
}
.main_content {
  padding-left: 270px;
}
.padd_15 {
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section_title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section_title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section_title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section_title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border: none;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  background: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
/* ##______ General Styles (End) _______## */

/* ##______ Aside Styles _______## */
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.aside .logo {
  position: absolute;
  font-size: 30px;
  top: 50px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
/* Nav links */
.aside .nav_toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}
.aside .nav_toggler span {
  height: 2px;
  width: 18px;
  background-color: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav_toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav_toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}
/* ##______ Aside Styles (End) _______## */

/* ##______ Home Styles _______## */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home_info {
  flex: 0 0 60%;
  max-width: 60%;
}
.home .home_info h3.hello {
  font-size: 28px;
  margin: 15px 0;
}
.home .home_info h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
.home .home_info h3.my_profession {
  font-size: 30px;
  margin: 15px 0;
}
.home .home_info h3.my_profession .typing {
  color: var(--skin-color);
}
.home_info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
/* home img */
.home .home_img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home .home_img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: -20px;
  bottom: -40px;
}
.home .home_img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}
.home .home_img img {
  margin: auto;
  border-radius: 5px;
  height: 400px;
}
/* ##______ Home Styles (End) _______## */

/* ##______ About Styles (Start) _______## */
.about .about_content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about_content .about_text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about_content .about_text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about_content .about_text h3 span {
  color: var(--skin-color);
}
.about .about_content .about_text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
/* personal info */
.about .about_content .personal_info {
  flex: 0 0 60%;
  max-width: 0 0 60%;
  margin-top: 40px;
}
.about .about_content .personal_info .info_item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about_content .personal_info .info_item p {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about_content .personal_info .info_item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about_content .personal_info .buttons {
  margin-top: 30px;
}
.about .about_content .personal_info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}
/* skills */
.about .about_content .skills {
  flex: 0 0 40%;
  max-width: 0 0 40%;
  margin-top: 40px;
}

/* ##______ About Styles (End) _______## */
