@font-face {
   font-family: 'bernditalic';
   src: url('../fonts/BERNDTBI.TTF');
}

@font-face {
   font-family: 'berndbl';
   src: url('../fonts/BERNDTB.TTF');
}

@font-face {
   font-family: 'bernd';
   src: url('../fonts/BERNDT.TTF');
}


/* General */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {
   --gen-color: #F38181;
}

header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   display: grid;
   grid-template-columns: 1fr .5fr;
   padding: 25px 13%;
}

.navlist ul {
   display: flex;
   list-style: none;
}

.navlist li {
   position: relative;
   padding: 8px;
}

.navlist li a {
   color: #000;
   text-decoration: none;
   font-size: 22px;
   border: 1.5px solid transparent;
   padding: 8px 14px;
   border-radius: 25px;
   transition: border .5s ease-in;
}

.navlist a:hover {
   border-color: var(--gen-color);
}


/* media query */
@media (max-width: 1000px) {
   .navlist {
      display: none;
   }


}